@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Tema Claro*/

body {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  max-width: 768px;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* Cabeçalho */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  height: 50px;
}

/* Logo */
header .logo a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #232323;
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 12px;
  margin: 20px;
}

/* Botão trocar tema*/
header #BtnTheme #theme-toggle {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: #232323;
  margin: 20px;
}

/* Carteira */
main {
  font-family: "Poppins", Arial, Helvetica;
}

main .usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica;
}

main .usuario h1 {
  font-size: 30px;
}

main .usuario p {
  font-size: 17px;
}

.resume {
  display: flex;
  padding: 10px 0;
  gap: 40px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
/* Entrada */
.resume .boxIncomes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #ccc;
  width: 200px;
  height: 110px;
  padding: 10px;
  background-color: #8fe878;
}

.resume .boxIncomes .iconBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resume .boxIncomes .iconBox i {
  background-color: #000000;
  color: #f5f5f5;
  padding: 8px;
  border-radius: 15px;
}

.resume .boxIncomes .iconBox p {
  font-size: 25px;
  font-weight: 600;
}

.resume .boxIncomes .incomes {
  font-size: 27px;
  font-weight: 600;
}

/* Saída */
.resume .boxExpenses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #ccc;
  width: 200px;
  height: 110px;
  padding: 10px;
  background-color: #ff6961;
}

.resume .boxExpenses .iconBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resume .boxExpenses .iconBox i {
  background-color: #000000;
  color: #f5f5f5;
  padding: 8px;
  border-radius: 15px;
}

.resume .boxExpenses .iconBox p {
  font-size: 25px;
  font-weight: 600;
}

.resume .boxExpenses .expenses {
  font-size: 27px;
  font-weight: 600;
}

/* Total */
.resume .boxTotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 10px;
  width: 200px;
  height: 110px;
  padding: 10px;
  background-color: #87ceeb;
}

.resume .boxTotal .iconBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resume .boxTotal .iconBox i {
  background-color: #000000;
  color: #f5f5f5;
  padding: 8px;
  border-radius: 15px;
}

.resume .boxTotal .iconBox p {
  font-size: 25px;
  font-weight: 600;
}

.resume .boxTotal .total {
  font-size: 27px;
  font-weight: 600;
}

/* Adicionar transação */
.newItem {
  display: flex;
  gap: 10px;
  align-items: end;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.divDesc,
.divType,
.divAmount {
  display: flex;
  flex-direction: column;
}

.divDesc input {
  border: 1px solid;
  border-radius: 10px;
}

.divAmount input {
  border: 1px solid;
  border-radius: 10px;
}

.divType select {
  border: 1px solid;
  border-radius: 10px;
}

.newItem #btnNew {
  background-color: #2c73d2;
  color: #f5f5f5;
  border: none;
  padding: 0 15px;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
}

input,
select {
  padding: 5px;
}
/* Histórico de Transações */
.transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.transactions .transOrder h1 {
  font-size: 30px;
  color: #050507;
}

.transactions .divTable {
  width: 100%;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
  border-radius: 35px;
  color: #050507;
}

table {
  width: 98%;
  padding: 20px 0;
  border-radius: 5px;
}

th {
  text-align: start;
  border-bottom: inset;
  padding-bottom: 5px;
}

i {
  font-size: 25px;
}

.bxs-caret-up-circle {
  color: #d83121;
}

.bxs-caret-down-circle {
  color: #00c9a7;
}

.columnAction {
  width: 40px;
  text-align: center;
}

.columnAction .btnTrash {
  background: transparent;
  border: none;
  cursor: pointer;
}

.columnAction .btnTrash .bx-trash {
  color: #050507;
}

.columnAmount {
  width: 30%;
}

.columnType {
  width: 80px;
  text-align: center;
}

/*Tema Escuro*/
body.dark {
  background-color: #232323;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* Cabeçalho */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  height: 50px;
}

/* Logo */
header .logo a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #232323;
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 12px;
  margin: 20px;
}

/* Botão trocar tema*/
header #BtnTheme #theme-toggle {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: #232323;
  margin: 20px;
}

/* Carteira */
main {
  font-family: "Poppins", Arial, Helvetica;
}

main .usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica;
}

main .usuario h1 {
  font-size: 30px;
}

main .usuario p {
  font-size: 17px;
}

.resume {
  display: flex;
  padding: 10px 0;
  gap: 40px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
/* Entrada */
.resume .boxIncomes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #ccc;
  width: 200px;
  height: 110px;
  padding: 10px;
  background-color: #8fe878;
}

.resume .boxIncomes .iconBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resume .boxIncomes .iconBox i {
  background-color: #000000;
  color: #f5f5f5;
  padding: 8px;
  border-radius: 15px;
}

.resume .boxIncomes .iconBox p {
  font-size: 25px;
  font-weight: 600;
}

.resume .boxIncomes .incomes {
  font-size: 27px;
  font-weight: 600;
}

/* Saída */
.resume .boxExpenses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #ccc;
  width: 200px;
  height: 110px;
  padding: 10px;
  background-color: #ff6961;
}

.resume .boxExpenses .iconBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resume .boxExpenses .iconBox i {
  background-color: #000000;
  color: #f5f5f5;
  padding: 8px;
  border-radius: 15px;
}

.resume .boxExpenses .iconBox p {
  font-size: 25px;
  font-weight: 600;
}

.resume .boxExpenses .expenses {
  font-size: 27px;
  font-weight: 600;
}

/* Total */
.resume .boxTotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 10px;
  width: 200px;
  height: 110px;
  padding: 10px;
  background-color: #87ceeb;
}

.resume .boxTotal .iconBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resume .boxTotal .iconBox i {
  background-color: #000000;
  color: #f5f5f5;
  padding: 8px;
  border-radius: 15px;
}

.resume .boxTotal .iconBox p {
  font-size: 25px;
  font-weight: 600;
}

.resume .boxTotal .total {
  font-size: 27px;
  font-weight: 600;
}

/* Adicionar transação */
.newItem {
  display: flex;
  gap: 10px;
  align-items: end;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.divDesc,
.divType,
.divAmount {
  display: flex;
  flex-direction: column;
}

.divDesc input {
  border: 1px solid;
  border-radius: 10px;
}

.divAmount input {
  border: 1px solid;
  border-radius: 10px;
}

.divType select {
  border: 1px solid;
  border-radius: 10px;
}

.newItem #btnNew {
  background-color: #2c73d2;
  color: #f5f5f5;
  border: none;
  padding: 0 15px;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
}

input,
select {
  padding: 5px;
}
/* Histórico de Transações */
.transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.transactions .transOrder h1 {
  font-size: 30px;
  color: #050507;
}

.transactions .divTable {
  width: 100%;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
  border-radius: 35px;
  color: #050507;
}

table {
  width: 98%;
  padding: 20px 0;
  border-radius: 5px;
}

th {
  text-align: start;
  border-bottom: inset;
  padding-bottom: 5px;
}

i {
  font-size: 25px;
}

.bxs-caret-up-circle {
  color: #d83121;
}

.bxs-caret-down-circle {
  color: #00c9a7;
}

.columnAction {
  width: 40px;
  text-align: center;
}

.columnAction .btnTrash {
  background: transparent;
  border: none;
  cursor: pointer;
}

.columnAction .btnTrash .bx-trash {
  color: #050507;
}

.columnAmount {
  width: 30%;
}

.columnType {
  width: 80px;
  text-align: center;
}
